name: Automatic Builds

on:
  push:
    branches:
    - main

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: true
    - name: Install tools and dependencies
      run: pacman -S mingw-w64-x86_64-{gcc,pkg-config,wxwidgets-msw,portaudio,libepoxy,jbigkit} make --noconfirm
      shell: msys2 {0}
    - name: Compile
      run: |
        make -j$(nproc)
        strip 3beans.exe
      shell: msys2 {0}
      working-directory: ${{ github.workspace }}
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: 3beans-windows
        path: 3beans.exe

  build-mac:
    runs-on: macos-latest
    steps:
    - name: Install Nix
      uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixpkgs-25.05-darwin
    - name: Checkout
      uses: actions/checkout@v4
    - name: Compile
      shell: 'nix-shell -p wxGTK32 portaudio libepoxy libGL pkg-config --run "bash {0}"'
      run: |
        make -j$(sysctl -n hw.logicalcpu)
    - name: Bundle
      run: meta/mac-bundle.sh --dmg
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: 3beans-mac
        path: 3Beans.dmg

  build-linux:
    runs-on: ubuntu-latest
    steps:
    - name: Install Flatpak and SDK
      run: |
        sudo apt update
        sudo apt install flatpak flatpak-builder -y
        sudo flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
        sudo flatpak install flathub org.freedesktop.Platform//21.08 org.freedesktop.Sdk//21.08 -y
    - name: Checkout
      uses: actions/checkout@v4
    - name: Compile
      run: |
        git config --global protocol.file.allow always
        make flatpak -j$(nproc)
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: 3beans-linux
        path: 3beans.flatpak

  update-release:
    runs-on: ubuntu-latest
    needs: [build-windows, build-mac, build-linux]

    steps:
    - name: Delete old release
      uses: dev-drprasad/delete-tag-and-release@v0.2.1
      with:
        delete_release: true
        tag_name: release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Get artifacts
      uses: actions/download-artifact@v4
    - name: Package artifacts
      run: for i in ./*; do zip -r -j ${i}.zip $i; done
    - name: Create new release
      uses: ncipollo/release-action@v1
      with:
        name: Rolling Release
        body: These are automatically updated builds of the latest commit.
        artifacts: "*.zip"
        makeLatest: true
        tag: release
        token: ${{ secrets.GITHUB_TOKEN }}
